.button-container {
    display: flex;
    justify-content: center; 
  }

  .button {
    padding: 10px 20px;
    margin-top: 30px;
    color: #ffffff;
    background-color: #405a96;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
  }

  .button:hover {
    transform: scale(1.05);
   
  }

  .button:active{
    transform: scale(0.95);
  }